extends layout

block content
  div.text-center
    h1.color-green= title
    p.color-green.bold Success payment
    p.color-green.bold your orderId is : #{orderId}
    a(href="/").btn.btn-info Go to home
